.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--cor-fundo); 
    border-bottom: 1px solid var(--cor-borda);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria);
}

.navLinks a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1rem;
    transition: ease-in-out 0.3s;
}

.navLinks a:hover{
    transition: ease-in-out 0.3s;
    color: var(--cor-primaria);
}