:root {
  --cor-primaria: #707f62;
  --cor-fundo: #eae5cf;
  --cor-secundaria: #8a6a57;
  --cor-destaque: #d4a373;
  --cor-texto: #3a3a3a;
  --cor-borda: #cccccc;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  /* Outros estilos globais que podemos adicionar depois */
}